{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %}
    
    


<main>

    

    

    <div id="myCarouselInner" >
    <div class="bdboomPaddingMain">
        <h1>BDtheque</h1>

        {# <a href="{{path('app_BDboom_scanner')}}">Je scanne mes BD</a> #}

        {#  message flash collection ajoutée #}
        {% for message in app.flashes('collectionAjout') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}


        <div style="margin-bottom:50px;">
            <h2>Mes Collections</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CollectionName</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for collectionn in collectionns %}
                    <tr>
                        <td>{{ collectionn.id }}</td>
                        <td>{{ collectionn.CollectionName }}</td>
                        <td>
                            <a href="{{ path('app_collectionn_show', {'id': collectionn.id}) }}"><i class="fa-solid fa-eye"></i></a>
                            <a href="{{ path('app_collectionn_edit', {'id': collectionn.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('app_collectionn_del', {'id': collectionn.id}) }}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('app_collectionn_new') }}" class="btn btn-primary">ajouter une collection</a>

        </div>



        <h2>Mes Wishlists</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>WishlistName</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                 {% for wishlist in wishlists %}
                <tr>
                    <td>{{ wishlist.id }}</td>
                    <td>{{ wishlist.WishlistName }}</td>
                    <td>
                        <a href="{{ path('app_wishlist_show', {'id': wishlist.id}) }}"><i class="fa-solid fa-eye"></i></a>
                        <a href="{{ path('app_wishlist_edit', {'id': wishlist.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('app_wishlist_del', {'id': wishlist.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

         <a href="{{ path('app_wishlist_new') }}" class="btn btn-primary">ajouter une wishlist</a>
        

    </div>
    </div>

</main>



    
{% endblock %}
