{% extends 'base.html.twig' %}

{% block title %}Welcome BDboom{% endblock %}

{% block body %} 


<main>
<div id="myCarouselInner" >        

    {#  message flash collection ajoutée #}
    {% for message in app.flashes('albumAjout') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}


    <div class="container py-4 my-4 mx-auto d-flex flex-column">
        
        <div class="header">
            <div class="row r1">
                <div class="col-md-9 abc">                    
                    <h1>{{ detailBook.title }}</h1>
                </div>  
            </div>
        </div>      
        
        <div class="container-body mt-4">
            <div class="row r3">
                
                <div class="col-md-7"> 
                    <img src="{{ detailBook.cover }}" alt="{{ detailBook.title }}" width="90%" height="95%"> 
                </div>
                
                <div class="col-md-5 p-0 klo">
                    <ul>
                        <li>{{ detailBook.title }}</li>
                        <li>{{ detailBook.author }}</li>

                        {% if detailBook.description is not null or detailBook.description is not empty %}
                        <li>{{ detailBook.description | striptags  }}</li>
                        {% endif %}

                        {% if detailBook.isbn is not null and detailBook.isbn is not empty and  detailBook.isbn is not same as('no isbn')  %}
                        <li>{{ detailBook.isbn }}</li>
                        {% endif %}
                    </ul>

                    {% if app.user %}
                    <div class="mb-2">                                                
                        <form action="{{ path('app_BDboom_addItemToCollection') }}" method="POST">

                            <button type="submit">Ajouter à ma collection</button>
                            <input type="hidden" id="addTo" name="addTo" value="collection">
                            <input type="hidden" id="infoDetailArray" name="infoDetailArray" value="{{detailBook|json_encode()}}">
                            <select name="collectionn" id="collectionn">
                            {% for collectionn in collectionns %}
                                <option value='{{ collectionn.id }}'> {{ collectionn.id }} :: {{ collectionn.CollectionName }}</option>
                            {% endfor %}
                            </select>
                        </form>                        
                    </div>
                    
                    <div class="mb-2">
                        <form action="{{ path('app_BDboom_addItemToWishlist') }}" method="GET">
                            <button type="submit">Ajouter à ma wishist</button>
                            <input type="hidden" id="addTo" value="wishlist">
                        </form>
                    </div>
                    {% else %}
                        <div>Connectez-vous pour Ajouter cet album a votre collection.</div>
                    {% endif %}                    
                    
                    {# si amazon bouton acheter #}
                    {% if detailBook.detailPageUrl is not null or detailBook.detailPageUrl is not empty %}
                    <div class="myt ">
                        <button type="button" class="btn btn-outline-warning"><a href="{{ detailBook.detailPageUrl }}">Acheter sur Amazon {{ detailBook.price }}</a></button>
                    </div>  
                    {% endif %}

                </div>
                             
            </div>
           
        </div>   
        
    </div>

</div>    
</main>



    
{% endblock %}
