
<div>Amazon</div>
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">             
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
    
        {% for item in listItemsAmazon %}
        <div class="col"> 
            <div class="card h-100 shadow-sm"> 

                {% if item.cover == "no cover" %}
                <img src="/images/default01.gif" class="card-img-top" alt="{{ item.title }}"> 
                {% else %}
                <img src="{{ item.cover }}" class="card-img-top" alt="{{ item.title }}"> 
                {% endif %}

                <div class="card-body"> 
                    
                    <div class="clearfix mb-3"> 
                        <span class="float-start badge rounded-pill bg-primary">{{ item.title }}</span> 
                        {# <span class="float-end price-hp">12354.00&euro;</span>  #}
                    </div>
                    
                    {% if item.description is defined %}
                    <h5 class="card-title">                       
                        {{ item.description | striptags | slice(0, 70) }}   <br />[...]                     
                    </h5> 
                    {% endif %}
                   

                    {# {{ dump(item) }}  #}
                    <form action="{{ path('app_BDboom_detail' , {'product': 'productAmazon','id': loop.index}) }}" method="POST">
                        {# <input type="hidden" id="detailLivre" name="detailLivre" value="{{item|serialize('json')}}"> #}
                        <input type="hidden" id="detailLivre" name="detailLivre" value="{{item|json_encode()}}">
                        <input type="hidden" id="bdsearch" name="bdsearch" value="{{bdsearch}}">
                        <button type="submit">Voir le détail</button>                        
                    </form>                    

                    <div class="text-center my-4"> 
                        <a href=" {{ item.detailPageUrl }}" class="btn btn-warning">Ajouter à ma collection</a> 
                    </div> 

                    <div class="text-center my-4"> 
                        <a href=" {{ item.detailPageUrl }}" class="btn btn-warning">Ajouter à ma wishlist</a> 
                    </div> 

                    <div class="text-center my-4"> 
                        <a href=" {{ item.detailPageUrl }}" class="btn btn-warning">Acheter sur Amazon</a> 
                    </div> 

                </div> 
            </div> 
        </div> 
        {% else %}
            <div>no records found</div>
        {% endfor %}
    </div> 
</div>

