{% extends 'base.html.twig' %}

{% block title %}Collectionn{% endblock %}

{% block body %}
    <h1>Collectionn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collectionn.id }}</td>
            </tr>
            <tr>
                <th>CollectionName</th>
                <td>{{ collectionn.CollectionName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collectionn_index') }}">back to list</a>

    <a href="{{ path('app_collectionn_edit', {'id': collectionn.id}) }}">edit</a>

    {{ include('collectionn/_delete_form.html.twig') }}
{% endblock %}
