{% extends 'base.html.twig' %}

{% block title %}Wishlist{% endblock %}

{% block body %}


<main>

    

    <div id="myCarouselInner" >
    <div class="bdboomPaddingMain">

    <h1>Wishlist : {{ wishlist.wishlistName }}</h1>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wishlist.id }}</td>
            </tr>
            <tr>
                <th>CollectionName</th>
                <td>{{ wishlist.wishlistName }}</td>
            </tr>
        </tbody>
    </table> #}





    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>album</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {# {{ dump(ListeAlbumWishlist) }} #}
            {% for album in ListeAlbumWishlist %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.title }}</td>
                <td>
                    <a href="{{ path('app_album_show', {'id': album.id , 'idWishlist': wishlist.id}) }}"><i class="fa-solid fa-eye"></i></a>

                    <a href="{{ path('app_BDboom_suppItemToCollectionOrWishlist', {'idAlbum': album.id, 'idWishlist': wishlist.id}) }}"><i class="fa-solid fa-trash"></i></a>

                    {% if album.refAmazon is defined and album.refAmazon is not null %}
                    <a href="https://www.amazon.fr/dp/{{album.refAmazon}}?tag=bdboom04-21" target="_blank">acheter sur Amazon</a>
                    {% endif %}

                    {# <a href="{{ path('app_BDboom_wishlistToCollection', {'idAlbum': album.id, 'idWishlist': wishlist.id}) }}">ajouter a une collection</a> #}

                   

                    {# {{ dump(album) }} #}
                </td>
            </tr>
            <tr>
                 <td></td>
                <td>
                 <form action="{{ path('app_BDboom_wishlistToCollection') }}" method="POST">
                        <select name="collectionn" id="collectionn">
                        {% for collectionn in collectionns %}
                            <option value='{{ collectionn.id }}'> {{ collectionn.id }} :: {{ collectionn.CollectionName }}</option>
                        {% endfor %}
                        </select>
                        
                        <input type="hidden" id="albumId" name="albumId" value="{{ album.id }}">
                        <input type="hidden" id="wishlistId" name="wishlistId" value="{{ wishlist.id }}">

                        <button type="submit">Deplacer dans une collection</button>
                        
                    </form>
                
                </td>
                
                  <td></td>
            </tr>

             {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




    {# <a href="{{ path('app_wishlist_index') }}">back to list</a>

    <a href="{{ path('app_wishlist_edit', {'id': wishlist.id}) }}">edit</a>

    {{ include('wishlist/_delete_form.html.twig') }} #}

    </div>
    </div>
</main>


{% endblock %}
